extends ./layout/header.jade

block pagina
    title index
block contenido
    //-escribe tu código html aquí  
    //-estilo titulo
    mixin title-blog-column(title)
        h1=title
    mixin subtitle-blog-column(subtitle)
        h4=subtitle
        i.fa.fa-angle-double-down
    //-estilo-cuadrito-COLUMNISTA(variacion)
    mixin cuadro-blog(title,src,autor,name)
        div.blog
            h6 Lunes, 14 de julio de 2015
            div.title-blog
                h3=title
            div.blog-box
                img(src=src, alt="imagen blog")
                h5=autor
                h4=name
    mixin only-blog-box(src,autor,name)
        div.blog-box
            img(src=src, alt="imagen blog")
            h5=autor
            h4=name

    section#columnistas
        div.container
            div.row
                +title-blog-column('Columnistas')
                +subtitle-blog-column('LO ÚLTIMO EN COLUMNISTAS')
            div.row
                div.col-md-4
                    +cuadro-blog('El gol de la muerte','assets/image/img_author_columnista.jpg','Augusto Álvarez Rodrich','Claro y Directo')
                div.col-md-4.middle
                    +cuadro-blog('Dios ha muerto...tengo las manos cubiertas de sangre','assets/image/img_author_columnista.jpg','Mirko Lauer','Observador')
                div.col-md-4
                    +cuadro-blog('¿Cuál es tu queso favorito?','assets/image/img_author_columnista.jpg','Aldo Miyashiro','Chino de mi barrio')
            div.row
                div.col-md-4
                    +cuadro-blog('El gol de la muerte','assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-4.middle
                    +cuadro-blog('Dios ha muerto...tengo las manos cubiertas de sangre','assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-4
                    +cuadro-blog('¿Cuál es tu queso favorito?','assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque perfecto')
            div.row
                div.col-md-4
                    +cuadro-blog('El gol de la muerte','assets/image/img_author_columnista.jpg','Augusto Álvarez Rodrich','Claro y Directo')
                div.col-md-4.middle
                    +cuadro-blog('Dios ha muerto...tengo las manos cubiertas de sangre','assets/image/img_author_columnista.jpg','Mirko Lauer','Observador')
                div.col-md-4
                    +cuadro-blog('¿Cuál es tu queso favorito?','assets/image/img_author_columnista.jpg','Aldo Miyashiro','Chino de mi barrio')
            div.row
                div.col-md-4
                    +cuadro-blog('El gol de la muerte','assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-4.middle
                    +cuadro-blog('Dios ha muerto...tengo las manos cubiertas de sangre','assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-4
                    +cuadro-blog('¿Cuál es tu queso favorito?','assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque perfecto')
            div.row
                div.button-column 
                    | TODAS LAS COLUMNAS
            div.row.only-sub
                +subtitle-blog-column('TODOS LOS COLUMNISTAS')
            div.row.abc-list
                div.col-md-offset-1.col-md-1
                    div.abc-item.main-abc
                        | TODOS
                div.col-md-1
                    div.abc-item
                        | A B C
                div.col-md-1
                    div.abc-item
                        | D E F 
                div.col-md-1
                    div.abc-item
                        | G H I
                div.col-md-1
                    div.abc-item
                        | J K L
                div.col-md-1
                    div.abc-item
                        | M N O
                div.col-md-1
                    div.abc-item
                        | PQRS
                div.col-md-1
                    div.abc-item
                        | TUV
                div.col-md-1
                    div.abc-item
                        | WXYZ
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Delito de Opinión')
                div.col-md-3.alone
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Actualidad Económica - Oscar Dancourt')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Mirada externa')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Defensa')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Delito de Opinión')
                div.col-md-3.alone
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Actualidad Económica - Oscar Dancourt')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Mirada externa')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Defensa')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Delito de Opinión')
                div.col-md-3.alone
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Actualidad Económica - Oscar Dancourt')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Mirada externa')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Defensa')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Delito de Opinión')
                div.col-md-3.alone
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Actualidad Económica - Oscar Dancourt')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Mirada externa')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Defensa')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Delito de Opinión')
                div.col-md-3.alone
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Actualidad Económica - Oscar Dancourt')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Mirada externa')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Defensa')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Delito de Opinión')
                div.col-md-3.alone
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Actualidad Económica - Oscar Dancourt')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Mirada externa')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Defensa')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Tiro al blanco')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Cristal de Mira')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Jaque Perpetuo')
            div.row 
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Francisco Durand','Delito de Opinión')
                div.col-md-3.alone
                    +only-blog-box('assets/image/img_author_columnista.jpg','Humberto Campodónico','Actualidad Económica - Oscar Dancourt')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Mirada externa')
                div.col-md-3
                    +only-blog-box('assets/image/img_author_columnista.jpg','Javier Ágreda','Defensa')
            
